@(services: List[Service])

@main("Chaoqun Services") {
    <h2>All Services</h2>
    <script>
        function del(delUrl) {
        $.ajax( {
            url: delUrl,
            type: 'DELETE',
            success: function(results) {
            location.reload();
            }
        } );
        }
    </script>
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @for(service <- services) {
                <tr>
                    <td><a href="@routes.Services.info(service.code)">@service.code</a></td>
                    <td>@service.description</td>
                    <td>@service.amount</td>
                    <td><button onclick="window.location='@routes.Services.info(service.code)';" value="edit">Edit</button> </td>
                    <td><button onclick="del('@routes.Services.delete(service.code)');" value="delete">Delete</button> </td>
                </tr>
            }
        </tbody>
    </table>
    <button onclick="window.location='@routes.Services.addService()';" value="add">Add new service</button>
}